In [1]:
import sqlite3
import pandas as pd
import urllib
import sqlalchemy
conn=sqlite3.connect(r'Z:\RESEARCH\Empresas\Bases de Datos\Data_Chile.db')

In [3]:
c=conn.cursor()

#create issuers table
c.execute('''CREATE TABLE IF NOT EXISTS issuers (
    Issuer_Compass_Id TEXT PRIMARY KEY,
    Issuer_Compass_Alias TEXT NOT NULL,
    Issuer_Local_Industry TEXT NOT NULL,
    Issuer_Country TEXT NOT NULL,
    Issuer_Funct_Curncy TEXT NOT NULL)''')

#create accounts table
c.execute('''CREATE TABLE IF NOT EXISTS accounts (
    Account_Id INTEGER PRIMARY KEY,
    Acc_DVAI_Id TEXT,
    Acc_DVAF_Id TEXT,
    Acc_Nombre_Cuenta TEXT NOT NULL,
    Account_Name TEXT NOT NULL,
    Account_Type TEXT NOT NULL)''')

#create estimates table
c.execute('''CREATE TABLE IF NOT EXISTS estimates (
    Est_Id INTEGER PRIMARY KEY AUTOINCREMENT,
    Est_Issuer_Compass_Id TEXT,
    Est_Account_Id TEXT NOT NULL,
    Est_Period TEXT,
    Est_Forecast_Date NUMERIC,
    Est_Value NUMERIC,
    FOREIGN KEY (Est_Issuer_Compass_Id) REFERENCES issuers (Issuer_Compass_Id),
    FOREIGN KEY (Est_Account_Id) REFERENCES accounts (Account_Id))''')

#create hist table
c.execute('''CREATE TABLE IF NOT EXISTS hist_data (
    Hist_Id INTEGER PRIMARY KEY AUTOINCREMENT,
    Hist_Issuer_Compass_Id TEXT,
    Hist_Account_Id TEXT NOT NULL,
    Hist_Period TEXT NOT NULL,
    Hist_Value NUMERIC,
    FOREIGN KEY (Hist_Issuer_Compass_Id) REFERENCES issuers (Issuer_Compass_Id),
    FOREIGN KEY (Hist_Account_Id) REFERENCES accounts (Account_Id))''')

#create securities table
c.execute('''CREATE TABLE IF NOT EXISTS securities (
    Secur_Id TEXT PRIMARY KEY,
    Sec_Issuer_Compass_Id TEXT NOT NULL,
    Sec_Bbg_Ticker TEXT,
    Sec_Isin TEXT,
    Sec_Trade_Curncy TEXT NOT NULL,
    FOREIGN KEY (Sec_Issuer_Compass_Id) REFERENCES issuers (Issuer_Compass_Id))''')

#create positions table
c.execute('''CREATE TABLE IF NOT EXISTS positions (
    Pos_Id IDENTITY PRIMARY KEY,
    Pos_Sec_Id TEXT,
    Pos_Instrument TEXT NOT NULL,
    Pos_Date TEXT,
    Pos_Value INT,
    FOREIGN KEY (Pos_Sec_Id) REFERENCES securities (Security_Id))''')

#create quarters table
c.execute('''CREATE TABLE IF NOT EXISTS quarters (
    Q_Id INTEGER PRIMARY KEY AUTOINCREMENT,
    Q_Issuer_Compass_Id TEXT NOT NULL, 
    Q_Data_Type TEXT NOT NULL,
    Q_Institution TEXT,
    Q_Period_Type TEXT NOT NULL,
    Q_Forecast_Date NUMERIC,
    Q_Year INT NOT NULL,
    Q_Period INT NOT NULL,
    Q_Account_Id INT NOT NULL,
    Q_Value NUMERIC,
    FOREIGN KEY (Q_Account_Id) REFERENCES accounts (Account_Id),
    FOREIGN KEY (Q_Issuer_Compass_Id) REFERENCES issuers (Issuer_Compass_Id))''')

#create banks table
c.execute('''CREATE TABLE IF NOT EXISTS banks_results (
    B_Id INTEGER PRIMARY KEY AUTOINCREMENT,
    B_Issuer_Compass_Id TEXT NOT NULL,
    B_Year INT NOT NULL,
    B_Month INT NOT NULL,
    B_SBIF_Account_Id INT NOT NULL,
    B_Account_Id INT,
    b_Value NUMERIC,
    FOREIGN KEY (B_Account_Id) REFERENCES accounts (Account_Id),
    FOREIGN KEY (B_Issuer_Compass_Id) REFERENCES issuers (Issuer_Compass_Id))''')

In [101]:
path=r"\\cg-fileserver\Analistas\Vicente Rodriguez\datos_cl.xlsx"
issuers= pd.read_excel(path, 'Emisor')

issuers.to_sql(name='issuers',index=False,con=conn, if_exists='append') 

issuers

,Issuer_Compass_Id,Issuer_Compass_Alias,Issuer_Local_Industry,Issuer_Country,Issuer_Funct_Curncy
0,CL000590,COPEC,Forestry,Chile,USD
1,CL000440,CODELCO,Mining,Chile,USD
2,CL000960,LTM,Transportation & Logistics,Chile,USD
3,CL000010,AESGENER,Utilities,Chile,USD
4,CL000060,AGUAS,Utilities,Chile,CLP
5,CL000070,ALMENDRAL,Telecom & IT,Chile,CLP
6,CL000080,ANTARCHILE,Forestry,Chile,USD
7,CL000090,AMSA,Mining,Chile,USD
8,CL000100,AUSTRALIS,Fishing,Chile,USD
9,CL000120,CHILE,Financials,Chile,CLP
10,CL000130,BCI,Financials,Chile,CLP
11,CL000140,SANTANDER,Financials,Chile,CLP
12,CL000150,BANMEDICA,Health Care,Chile,CLP
13,CL000160,Banvida,Financials,Chile,CLP
14,CL000170,BESALCO,Industrials,Chile,CLP
15,CL000180,COLO COLO,Entertainment,Chile,CLP
16,CL000190,BLUMAR,Fishing,Chile,USD
17,CL000200,BUPA,Health Care,Chile,CLP
18,CL000210,CAP,Mining,Chile,USD
19,CL000220,CAROZZI,Food & Beverages,Chile,CLP
20,CL000240,ARAUCO,Forestry,Chile,USD
21,CL000250,POLPAICO,Materials,Chile,CLP
22,CL000260,CEMENTOS,Materials,Chile,CLP
23,CL000270,CENCOSUD,Retail,Chile,CLP
24,CL000280,CENCOSHOPP,Real Estate,Chile,CLP
25,CL000310,CCU,Food & Beverages,Chile,CLP
26,CL000320,FOSFOROS,Industrials,Chile,CLP
27,CL000350,VOLCAN,Materials,Chile,CLP
28,CL000360,INTEROCEANICA,Transportation & Logistics,Chile,USD
29,CL000370,CAMANCHACA,Fishing,Chile,USD
...,...,...,...,...,...
71,CL001010,MULTIFOODS,Fishing,Chile,USD
72,CL001030,NITRATOS,Mining,Chile,USD
73,CL001040,NORTEGRAN,Mining,Chile,USD
74,CL001060,PARAUCO,Real Estate,Chile,CLP
75,CL001070,PAZ,Industrials,Chile,CLP
76,CL001080,MALLPLAZA,Real Estate,Chile,CLP
77,CL001090,FROWARD,Transportation & Logistics,Chile,USD
78,CL001100,VENTANAS,Transportation & Logistics,Chile,USD
79,CL001110,PULOGSA,Transportation & Logistics,Chile,USD
80,CL001130,QUINENCO,Financials,Chile,CLP
81,CL001140,RIPLEY,Retail,Chile,CLP
82,CL001160,FALABELLA,Retail,Chile,CLP
83,CL001180,SALFACORP,Industrials,Chile,USD
84,CL001190,SALMOCAM,Fishing,Chile,USD
85,CL001200,SK,Industrials,Chile,USD
86,CL001220,SMU,Retail,Chile,CLP
87,CL001240,ORO BLANCO,Mining,Chile,USD
88,CL001250,SM CHILE,Financials,Chile,USD
89,CL001260,SMSAAM,Transportation & Logistics,Chile,USD
90,CL001280,PUCOBRE,Materials,Chile,USD
91,CL001290,SQM,Mining,Chile,USD
92,CL001300,SOCOVESA,Industrials,Chile,CLP
93,CL001310,SONDA,Telecom & IT,Chile,CLP
94,CL001330,SOQUICOM,Materials,Chile,USD
95,CL001340,TECHPACK,Industrials,Chile,USD
96,CL001370,CONCHATORO,Food & Beverages,Chile,CLP
97,CL001380,VSPT,Food & Beverages,Chile,CLP
98,CL001390,SANTA RITA,Food & Beverages,Chile,CLP
99,CL001420,WATTS,Food & Beverages,Chile,CLP
100,CL001430,ZOFRI,Real Estate,Chile,CLP

In [86]:
path=r"\\cg-fileserver\Analistas\Vicente Rodriguez\datos_cl.xlsx"
sec= pd.read_excel(path, 'Security')

sec.to_sql(name='securities',index=False,con=conn, if_exists='append') 

sec

,Secur_Id,Sec_Issuer_Compass_Id,Sec_Bbg_Ticker,Sec_Isin,Sec_Trade_Curncy
0,CL000590EQ00001,CL000590,COPEC CI,CLP7847L1080,CLP
1,CL000960EQ00001,CL000960,LTM CI,CL0000000423,CLP
2,CL000960EQ00002,CL000960,LTM US,US51817R1068,CLP
3,CL000010EQ00001,CL000010,AESGENER CI,CL0001880955,CLP
4,CL000060EQ00001,CL000060,AGUAS/A CI,CL0000000035,CLP
5,CL000070EQ00001,CL000070,ALMEN CI,CLP0170E1065,CLP
6,CL000080EQ00001,CL000080,ANTAR CI,CLP0362E1386,CLP
7,CL000090EQ00001,CL000090,ANTO LN,GB0000456144,CLP
8,CL000100EQ00001,CL000100,AUSTRALI CI,CL0001772897,CLP
9,CL000120EQ00001,CL000120,CHILE CI,CLP0939W1081,CLP
10,CL000130EQ00001,CL000130,BCI CI,CLP321331116,CLP
11,CL000140EQ00001,CL000140,BSAC US,US05965X1090,CLP
12,CL000140EQ00002,CL000140,BSAN CI,CLP1506A1070,CLP
13,CL000150EQ00001,CL000150,BANMED CI,CLP1583M1072,CLP
14,CL000160EQ00001,CL000160,BANVI CI,CLP1611D1038,CLP
15,CL000170EQ00001,CL000170,BESALCO CI,CLP1663V1009,CLP
16,CL000180EQ00001,CL000180,COLO/B CI,CL0000001041,CLP
17,CL000190EQ00001,CL000190,BLUMAR CI,CL0001820167,CLP
18,CL000200EQ00001,CL000200,BUPACL CI,CL0002141019,CLP
19,CL000210EQ00001,CL000210,CAP CI,CLP256251073,CLP
20,CL000220EQ00001,CL000220,CAROZZI CI,CL0000007949,CLP
21,CL000250EQ00001,CL000250,POLPA CI,CLP2216J1070,CLP
22,CL000260EQ00001,CL000260,CEMENT CI,CLP2234F1031,CLP
23,CL000270EQ00001,CL000270,CENCOSUD CI,CL0000000100,CLP
24,CL000280EQ00001,CL000280,CENCOSHOPP CI,CL0002539816,CLP
25,CL000310EQ00001,CL000310,CCU CI,CLP249051044,CLP
26,CL000310EQ00002,CL000310,CCU US,US2044291043,USD
27,CL000320EQ00001,CL000320,FOSFOR CI,CLP2550E1020,CLP
28,CL000350EQ00001,CL000350,VOLCAN CI,CLP306341023,CLP
29,CL000360EQ00001,CL000360,INTEROC CI,CLP2551T1089,CLP
...,...,...,...,...,...
78,CL001070EQ00001,CL001070,PAZ CI,CL0000001918,CLP
79,CL001080EQ00001,CL001080,MALLPLAZ CI,CL0002456714,CLP
80,CL001090EQ00001,CL001090,FROWARD CI,CLP7909E1092,CLP
81,CL001100EQ00001,CL001100,VENTANA CI,CLP7925J1089,CLP
82,CL001110EQ00001,CL001110,PUERTO CI,CLP792551085,CLP
83,CL001130EQ00001,CL001130,QUINENC CI,CLP7980K1070,CLP
84,CL001140EQ00001,CL001140,RIPLEY CI,CL0000001173,CLP
85,CL001160EQ00001,CL001160,FALAB CI,CLP3880F1085,CLP
86,CL001180EQ00001,CL001180,SALFACOR CI,CL0000000449,CLP
87,CL001190EQ00001,CL001190,SALMOCAM CI,CL0002409135,CLP
88,CL001200EQ00001,CL001200,SK CI,CL0000001272,CLP
89,CL001220EQ00001,CL001220,SMU CI,CL0002132620,CLP
90,CL001240EQ00001,CL001240,OROB CI,CLP8716G1059,CLP
91,CL001250EQ00001,CL001250,SMCHILEA CI,CLP8716M1028,CLP
92,CL001250EQ00002,CL001250,SMCHILED CI,CLP8716M1283,CLP
93,CL001250EQ00003,CL001250,SMCHILEB CI,CLP8716M1101,CLP
94,CL001260EQ00001,CL001260,SMSAAM CI,CL0001856989,CLP
95,CL001280EQ00001,CL001280,PUCOBRE CI,CL0002483510,CLP
96,CL001290EQ00001,CL001290,SQM US,US8336351056,USD
97,CL001290EQ00002,CL001290,SQM/A CI,CLP8716Y1065,CLP
98,CL001290EQ00003,CL001290,SQM/B CI,CLP8716X1082,CLP
99,CL001300EQ00001,CL001300,SOCOVESA CI,CL0000002544,CLP
100,CL001310EQ00001,CL001310,SONDA CI,CL0000001934,CLP
101,CL001330EQ00001,CL001330,SOQUIC CI,CLP872861032,CLP
102,CL001340EQ00001,CL001340,TECHPACK CI,CL0002090760,CLP
103,CL001370EQ00001,CL001370,CONCHA CI,CLP9796J1008,CLP
104,CL001380EQ00001,CL001380,VSPT CI,CL0002209253,CLP
105,CL001390EQ00001,CL001390,STARIT CI,CLP8525M1037,CLP
106,CL001420EQ00001,CL001420,WATTS CI,CL0001866384,CLP
107,CL001430EQ00001,CL001430,ZOFRI CI,CLP989971021,CLP

In [89]:
path = r"\\cg-fileserver\Analistas\RESEARCH\Empresas\Stock Guide\Output_nuevo_con_hist.xlsx"
accounts= pd.read_excel(path, 'Hoja1')#,skiprows=3,usecols='A:BJ')
accounts=accounts#.iloc[:,:-2]
#accounts.rename(columns={'Account_Id':'account_id','Acc_DVAI_Id':'acc_DVAI_id',
 #                        'Acc_DVAF_Id':'acc_DVAF_id','Acc_Nombre_Cuenta':'acc_nombre','Account_Name':'acc_name',
  #                      'Account_Type':'acc_type'},inplace=True)

accounts.to_sql(name='accounts',index=False,con=conn, if_exists='append') 
accounts

,Account_Id,Acc_DVAI_Id,Acc_DVAF_Id,Acc_Nombre_Cuenta,Account_Name,Account_Type
0,1,22101.0,142.0,Ingresos,Revenue,EERR
1,2,27404.0,NaN,EBITDA/NOI,EBITDA/NOI,EERR
2,3,22109.0,141.0,Participacion relacionadas,Net Income from Associates,EERR
3,4,22119.0,153.0,Utilidad/FFO,Net Income/FFO,EERR
4,5,NaN,NaN,Revalorización,Revaluation,EERR
5,6,22122.0,NaN,Capex,Capex,FCF
6,7,NaN,NaN,Intereses Netos pagados,Net Interests paid,FCF
7,8,NaN,NaN,Impuestos pagados,Tax paid,FCF
8,9,22120.0,NaN,Depreciacion&Amortización,Depreciation & Amortization,FCF
9,10,NaN,NaN,Otros flujos de caja relevantes,Other relevant cash flows,FCF
10,11,NaN,NaN,KdT,Working Capital,FCF
11,12,22087.0,115.0,Activos Totales,Total Assets,Balance Sheet
12,13,NaN,NaN,Activos Prescindibles (ex P. Inv.),Non Core Assets (ex Inv. Prop),Balance Sheet
13,14,22129.0,NaN,Propiedades de Inversión,Investment Properties,Balance Sheet
14,15,22135.0,NaN,Inversión en Empresas Relacionadas,Share in Associates,Balance Sheet
15,16,22133.0,NaN,Otros Activos Financieros,Other Financial Assets,Balance Sheet
16,17,22128.0,113.0,Goodwill,Goodwill,Balance Sheet
17,18,NaN,NaN,Intangibles ex goodwill,Intangible Assets (ex goodwill),Balance Sheet
18,19,22077.0,101.0,Caja y Equivalentes,Cash & Equivalents,Balance Sheet
19,20,22097.0,123.0,Pasivos Totales,Total Liabilities,Balance Sheet
20,21,NaN,NaN,Otros pasivos financieros (no deuda),Other financial liabilities (non-debt),Balance Sheet
21,22,22098.0,126.0,Interés Minoritario,Minority Interest,Balance Sheet
22,23,NaN,NaN,Deuda Financiera Total,Total Financial Debt,Balance Sheet
23,24,22088.0,NaN,Deuda Financiera Corto Plazo,Short Term Financial Debt,Balance Sheet
24,25,22093.0,NaN,Deuda Financiera Largo Plazo,Long Term Debt,Balance Sheet
25,26,22099.0,NaN,Patrimonio Atribuible,Shareholders Equity,Balance Sheet
26,27,NaN,NaN,Rf,Rf,Discount Rate
27,28,NaN,NaN,Beta Unlevered,Beta Unlevered,Discount Rate
28,29,NaN,NaN,D/E LP,D/E LT,Discount Rate
29,30,NaN,NaN,ERP,ERP,Discount Rate
30,31,NaN,NaN,CDS ponderado,Avge CDS,Discount Rate
31,32,NaN,NaN,Tax ponderado,Avge tax rate,Discount Rate
32,33,NaN,NaN,Tasa deuda,Debt rate,Discount Rate
33,34,NaN,NaN,Dividend Payout,Dividend Payout,Others
34,35,NaN,NaN,Company Specific 1,Company Specific 1,Others
35,36,NaN,NaN,Company Specific 2,Company Specific 2,Others
36,37,NaN,NaN,Company Specific 3,Company Specific 3,Others
37,38,NaN,NaN,Numero acciones,outstanding shares,Others
38,39,NaN,NaN,Precio Objetivo,Target Price,Others
39,40,NaN,NaN,PO bull case,TP bull case,Others
40,41,NaN,NaN,PO bear case,Tp bear case,Others
41,42,NaN,NaN,G LP,LT growth,Others
42,43,NaN,NaN,Recom_equity,Equity Recommendation,Others
43,44,NaN,NaN,Internal Rating,Internal Rating,Internal Rating
44,45,NaN,NaN,Capacity,Capacity,Internal Rating
45,46,NaN,NaN,Covenants,Covenants,Internal Rating
46,47,NaN,NaN,Character,Character,Internal Rating
47,48,NaN,NaN,Collateral,Collateral,Internal Rating
48,49,NaN,NaN,Capitalización Bursátil,Market Cap,Others
49,50,NaN,NaN,Ticker Bloomberg,Ticker Bloomberg,Others
50,51,NaN,NaN,Investment Thesis,Investment Thesis,Others
51,52,NaN,NaN,Interés Minoritario (EERR),Minority Interest (P&L),EERR

In [91]:
params = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=CG-DSR-01;DATABASE=CGTEAM;trusted_connection=true")
engine = sqlalchemy.create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

query =" ".join([
    "SELECT *",
    "FROM DSB_Hist_Data"])

hist = pd.read_sql_query(query, engine)

hist.to_sql(name='hist_data',index=False,con=conn, if_exists='append') 

hist

IntegrityError: UNIQUE constraint failed: hist_data.Hist_Id

Carga historia quarters

In [153]:
import datetime
now = datetime.datetime.now()
from datetime import datetime


path = r"\\cg-fileserver\Analistas\RESEARCH\Empresas\RESULTADOS\Estimados Trimestrales_VF.xlsx"
hist_Q= pd.read_excel(path, 'Estimados')
hist_Q['Q_Data_Type']='estimates'
hist_Q['Q_Institution']='Compass'

alias=pd.read_sql_query("SELECT Issuer_Compass_Id,Issuer_Compass_Alias FROM issuers", conn)

hist_Q=pd.merge(hist_Q,alias,how='inner',left_on='Issuer_Compass_Alias',right_on='Issuer_Compass_Alias')
hist_Q.rename(columns={'Issuer_Compass_Id':'Q_Issuer_Compass_Id'},inplace=True)
hist_Q=hist_Q[['Q_Issuer_Compass_Id','Q_Data_Type','Q_Institution','Q_Forecast_Date','Q_Year','Q_Period',
        'Q_Account_Id','Q_Value']]
hist_Q

,Q_Issuer_Compass_Id,Q_Data_Type,Q_Institution,Q_Forecast_Date,Q_Year,Q_Period,Q_Account_Id,Q_Value
0,CL000010,estimates,Compass,2018-05-15,2018,1,4,74.000
1,CL000010,estimates,Compass,2018-05-15,2018,1,2,NaN
2,CL000010,estimates,Compass,2018-08-15,2018,2,4,132.000
3,CL000010,estimates,Compass,2018-08-15,2018,2,2,NaN
4,CL000010,estimates,Compass,2018-11-05,2018,3,4,68.000
5,CL000010,estimates,Compass,2018-11-05,2018,3,2,NaN
6,CL000010,estimates,Compass,2019-02-05,2018,4,4,77.925
7,CL000010,estimates,Compass,2019-02-05,2018,4,2,242.000
8,CL000010,estimates,Compass,2019-05-05,2019,1,4,73.000
9,CL000010,estimates,Compass,2019-05-05,2019,1,2,208.000
10,CL000060,estimates,Compass,2018-05-15,2018,1,4,NaN
11,CL000060,estimates,Compass,2018-05-15,2018,1,2,NaN
12,CL000060,estimates,Compass,2018-08-15,2018,2,4,25330.000
13,CL000060,estimates,Compass,2018-08-15,2018,2,2,NaN
14,CL000060,estimates,Compass,2018-11-05,2018,3,4,27201.000
15,CL000060,estimates,Compass,2018-11-05,2018,3,2,NaN
16,CL000060,estimates,Compass,2019-02-05,2018,4,4,38632.000
17,CL000060,estimates,Compass,2019-02-05,2018,4,2,NaN
18,CL000060,estimates,Compass,2019-05-05,2019,1,4,53450.000
19,CL000060,estimates,Compass,2019-05-05,2019,1,2,99323.000
20,CL000490,estimates,Compass,2018-05-15,2018,1,4,40837.000
21,CL000490,estimates,Compass,2018-05-15,2018,1,2,NaN
22,CL000490,estimates,Compass,2018-08-15,2018,2,4,10750.000
23,CL000490,estimates,Compass,2018-08-15,2018,2,2,NaN
24,CL000490,estimates,Compass,2018-11-05,2018,3,4,15624.000
25,CL000490,estimates,Compass,2018-11-05,2018,3,2,NaN
26,CL000490,estimates,Compass,2019-02-05,2018,4,4,28226.000
27,CL000490,estimates,Compass,2019-02-05,2018,4,2,100492.000
28,CL000490,estimates,Compass,2019-05-05,2019,1,4,40000.000
29,CL000490,estimates,Compass,2019-05-05,2019,1,2,96460.000
...,...,...,...,...,...,...,...,...
630,CL001380,estimates,Compass,2018-05-15,2018,1,4,3600.000
631,CL001380,estimates,Compass,2018-05-15,2018,1,2,NaN
632,CL001380,estimates,Compass,2018-08-15,2018,2,4,3600.000
633,CL001380,estimates,Compass,2018-08-15,2018,2,2,NaN
634,CL001380,estimates,Compass,2018-11-05,2018,3,4,3300.000
635,CL001380,estimates,Compass,2018-11-05,2018,3,2,NaN
636,CL001380,estimates,Compass,2019-02-05,2018,4,4,4418.000
637,CL001380,estimates,Compass,2019-02-05,2018,4,2,8637.000
638,CL001380,estimates,Compass,2019-05-05,2019,1,4,3139.000
639,CL001380,estimates,Compass,2019-05-05,2019,1,2,7040.000
640,CL001420,estimates,Compass,2018-05-15,2018,1,4,3200.000
641,CL001420,estimates,Compass,2018-05-15,2018,1,2,NaN
642,CL001420,estimates,Compass,2018-08-15,2018,2,4,4282.000
643,CL001420,estimates,Compass,2018-08-15,2018,2,2,NaN
644,CL001420,estimates,Compass,2018-11-05,2018,3,4,3300.000
645,CL001420,estimates,Compass,2018-11-05,2018,3,2,NaN
646,CL001420,estimates,Compass,2019-02-05,2018,4,4,6284.000
647,CL001420,estimates,Compass,2019-02-05,2018,4,2,13362.000
648,CL001420,estimates,Compass,2019-05-05,2019,1,4,3945.000
649,CL001420,estimates,Compass,2019-05-05,2019,1,2,10619.000
650,CL001430,estimates,Compass,2018-05-15,2018,1,4,3675.250
651,CL001430,estimates,Compass,2018-05-15,2018,1,2,NaN
652,CL001430,estimates,Compass,2018-08-15,2018,2,4,3675.250
653,CL001430,estimates,Compass,2018-08-15,2018,2,2,NaN
654,CL001430,estimates,Compass,2018-11-05,2018,3,4,3244.000
655,CL001430,estimates,Compass,2018-11-05,2018,3,2,NaN
656,CL001430,estimates,Compass,2019-02-05,2018,4,4,2981.000
657,CL001430,estimates,Compass,2019-02-05,2018,4,2,3600.000
658,CL001430,estimates,Compass,2019-05-05,2019,1,4,3945.000
659,CL001430,estimates,Compass,2019-05-05,2019,1,2,4741.000

In [149]:
hist_Q.to_sql(name='quarters',index=False,con=conn, if_exists='append')

respalda quarters

In [ ]:
query =" ".join([
    "SELECT * FROM quarters"])

est_r = pd.read_sql_query(query, conn)

path = r"\\cg-fileserver\Analistas\Vicente Rodriguez\Respaldo_Quarters.xlsx"
writer=pd.ExcelWriter(path, engine='xlsxwriter')
est_r.to_excel(writer,sheet_name='BD')
writer.save()  

est_r

In [ ]:
path = r"\\cg-fileserver\Analistas\Vicente Rodriguez\Respaldo_Quarters.xlsx"
qtr= pd.read_excel(path, 'BD')
qtr.to_sql(name='quarters',index=False,con=conn, if_exists='append') 
qtr